* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgb(25, 69, 105);
}

.opposite-cars {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(0deg);
  animation: rotateCube 4s linear infinite;
  backface-visibility: hidden;
  perspective: 100000px;
}

.car-top {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: salmon;
  transform: rotateX(0deg) translate3d(0, 0, 150px);
  transform-origin: bottom;
  top: 0%;
}

.car-front {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: yellow;
  transform: rotateX(90deg) rotateZ(0deg);
  transform-origin: top;
  top: 100%;
  left: 0;
}

.car-right-side {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: purple;
  transform: rotateY(-90deg);
  transform-origin: left;
  left: 100%;
}

.car-left-side {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: gray;
  transform: rotateX(-180deg) rotateY(90deg);
  transform-origin: left;
  top: 0%;
  right: 0%;
}

.car-back {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: lightgreen;
  transform: rotateX(90deg) translate3d(0, 0, 0px);
  transform-origin: top;
  top: 0;
  left: 0%;
}

@keyframes rotateCube {
  0% {
    transform: rotateX(75deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(75deg) rotateZ(360deg);
  }
}
